

#cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

#cart>div{
    height: 300px;
    border: 1px solid red;
    text-align: center;
}

#cart>div>img{
    width: 60%;
    height: 60%;
}