#container{
    width: 95%;
    margin: auto;
    margin-top: 20px ;
}

#container>div{
     display: flex;
     height: 400px;
     margin-bottom: 50px;
     font-size: 12px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img{
    height: 400px;
}

#container>div>div+div{
      padding-left: 15px;
      font-family: sans-serif;
}